html,
body,
figure,
img,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f9b24e;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(175, 170, 170);
  padding-top: 10vh;
}
p {
  text-align: center;
  color: rgb(121, 118, 118);
  margin: 10px 0px 100px;
}
a {
  color: bisque;
  font-style: italic;
}
.navegação {
  margin: 10px 0px 60px 0px;
  text-align: right;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(121, 118, 118);
    text-align: center;
    margin: 10px 0px 60px 0px;
}
th{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
td{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
}
img{
margin: 0 0 0 75px;
}

