body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 1px;
}
   
    
    


#first-block {
    background-color: red;
    width: 100%;
    height: 10vh;
}

.blue-block {
    background-color: blue;
    flex-basis: 25%;
    height: 15vh;
}

.yellow-block {
    background-color: yellow;
    flex-basis: 25%;
    height: 15vh;
}

.green-block {
    background-color: green;
    flex-basis: 25%;
    height: 15vh;
}

.black-block {
    background-color: black;
    color: white;
    flex-basis: 40%;
    height: 40vh;
}

.white-block {
    background-color: white;
    flex-basis: 20%;
    height: 20vh;
}


 @media screen and (max-width: 800px) {
    div {
        
        display: flex;
        flex-direction: column;
               
    }
    
} 
